<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${Title}</title>
    <meta ws-replace="meta" />
    <link ws-replace="styles" />
</head>
<body>
    <div ws-replace="Navbar"></div>

    <div class="container" ws-hole="Body"></div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                For an enhanced template that provides automatic GitHub deployment to Azure, fork from <a href="https://github.com/intellifactory/ClientServer.Azure">GitHub</a>, or
                read more <a href="http://websharper.com/blog-entry/4368/deploying-websharper-apps-to-azure-via-github">here</a>.
            </p>
        </div>
    </footer>

    <script ws-replace="scripts"></script>
</body>
</html>
